.img{
	width: 100%;
	margin-bottom: 5px;
}

.txt {
    font-family: 'Source Code Pro','Open Sans', sans-serif;
    font-size: 12px;
    letter-spacing: .1em;
    line-height: 17px;
    margin-bottom: 1.2em;
    margin-top: 3em;
}
em {
    opacity: .6;
    letter-spacing: 0.08;
    font-style: inherit;
    display: block;
    margin-top: 10px;
}
