.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  margin: 1rem auto;
  padding: 1rem 0;

}

.title {
  align-self: center;
  width:100%;
  line-height: 0;
  display: block;
}
.title:hover {
  opacity: 0.3;
}
.meta {
  font-size: 0.75rem;
  opacity: 0.6;
}

.description {
  font-size: 0.85rem;
}

.readMore {
  /* align-self: center; */
  display: inline-flex;
  margin-top: 1rem;
  border-radius: 3px;
  font-size: 0.8rem;
  text-align: center;
  border-bottom: 0 !important;
  text-decoration: none !important;
}
.imgt{
  width: 100%;
}
.imgwrapper{
  width: 100%;
}


  .hover_text{
  display: none;
  position: absolute;
  opacity: 1;
  font-family: 'Source Code Pro','Open Sans', sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  padding: 10px 0 0 5px;
}
  .hovered .hover_text{
  display: inline!important;
}


